$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "foundation/scss/foundation.scss";

$padding-large: 32px; 
$padding-med: 24px; 
$padding-small: 16px;
$padding-xsmall: 8px;
$padding-none: 0px;
$border-thick: 3px solid black;
$border-thin: 1px solid grey;
$border-footer: 1px dotted black;
$padding-byline: 0 12px 0 12px;

h1 {
    font-size: 12px;                    
    text-align: center;
    text-transform: uppercase;
}
p {
    margin:0;
}

    .container {
            @include grid-row;
            max-width: none;
            padding: $padding-none;
        /* Custom page header */
        .header {
            min-height: 120px;
            width: 100%;
            max-width: none;

            .head-left{
                @include grid-column(2);
                height: 100%;
                min-height: 120px;
                border-bottom: $border-thick;
                text-align: center;
                
                .slash-links{
                    padding: $padding-small;
                    list-style-type: none;
                    margin: 0;
                    text-align: left;
                    font-size: 10px;
                }
            }

            .head-main {
                @include grid-column(6);
                min-height: 120px;
                height: 100%;

                border-right: $border-thin;
                border-left: $border-thin;
                border-bottom: $border-thick;

                p {
                    position: absolute;
                    font-size: 8px;
                    color: grey;
                    padding: $padding-small;
                    margin: 0;
                }
                a {
                    text-align: center;
                    display: block;

                    .ic-logo {
                        width: 180px;
                        padding: $padding-small;
                        padding-top: $padding-med;
                    }
                }
            }

            .head-right {
                @include grid-column(2);
                height: 100%;
                min-height: 120px;
                border-bottom: $border-thick;
                text-align: center;
                .content {
                    p{
                        font-size: 8px;
                        text-align: center;
                        color: grey;
                        padding-top: $padding-med;
                        padding-bottom: 0;
                        margin: 0;
                    }

                    a { 
                        text-align: center;
                        .misc-logo
                        {
                            width: 100px;
                        }
                    }
                }
            }
}
            .navbar {
                @include grid-row;
                max-width: none;
                .nav-left {
                @include grid-column(2);
                text-align: center;
                min-height: 42px;
                padding: $padding-xsmall;
                border-bottom: $border-thin;
                }

                .nav-main {
                @include grid-column(6);
                padding: $padding-none;
                border-right: $border-thin;
                border-left: $border-thin;
                border-bottom: $border-thin;

                min-height: 42px;
                    .nav-links{
                        text-align: center;
                    list-style-type: none;
                    padding:$padding-xsmall;
                    margin: 0;
                    li{
                    display: inline;
                    padding-left: 2%;
                    padding-right: 2%;
                    }
                }
                }

                .nav-right {      
                @include grid-column(2);
                padding: $padding-none;
                border-bottom: $border-thin;

                min-height: 42px;
                }
            }

.body 
{
    .body-left {
    @include grid-column(2);
    background-color: #f5f5f5;
    padding: $padding-med;
    }

    .body-main{
        @include grid-column(6);

        border-right: $border-thin;
        border-left: $border-thin;
        padding: $padding-med;
        .post-feature { 
            position: relative;
            padding: $padding-none;
            .post-feature-image {
                z-index: 1;
            }
            .post-fly {
                z-index: 10;
                position: absolute;
                top: 10px;
                left: 10px;
                padding: $padding-small;
                background-color: black;
                .post-title{
                    color: white;
                    font-size: 18px;
                }
                .byline {
                    border-bottom: 1px solid white;
                }
                .post-author {
                    padding-top: 10px;
                    padding-bottom: 0;
                    color: white;
                    font-style: bold;
                    text-align: center;
                }
            }
            .post-copy
            {
                padding: $padding-med;
                font-style: italic;
                text-size: 6px;
                color: grey;

            }
        }

        .byline {
            border-bottom: $border-thin;
            padding: $padding-byline;
            }

        .post-split {
            @include grid-row;
            padding: $padding-none;
            .post-image{
                @include grid-column (6);
                padding: $padding-small;
                .post-image-content {
                    width: 100%;
                    overflow: hidden
                }

            }
            .post-copy{
                @include grid-column (6);
                padding: $padding-small;
                .post-category {
                    text-align: center;
                    text-transform: uppercase;
                }
                .post-title {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                .byline {
                    display: none;
                }
                .post-author {
                    border-top: $border-thick;
                    padding-top: $padding-small;
                }
            }
        }
        .bigbutton
        {
            background-color: black;
            padding: $padding-large;
            h1{
                color: white;
                em
                {
                    font-weight: 900;
                    font-style: normal;
                }
            }
        }
        .bigbutton:hover
        {
            background-color:grey;
        }
    }
    .body-right {
        @include grid-column(2);
        padding: $padding-none;
        .sidepost {

            padding: $padding-med;
            .sidepost-image {
            }
            .post-copy {
                p {
                    text-align: center;
                    margin: 0;
                }
                .post-side-category {
                    font-size: 10px;
                    text-transform: uppercase;
                }
                .post-side-title {
                    font-size: 18px; 
                    text-transform: uppercase;
                }
                .post-side-author {
                    padding-top: 10px;
                    font-size: 11px;
                    font-weight: bold;
                }
            }
        }
        .byline {
            border-bottom: $border-thin;
            margin: 0 24px 0 24px;
        }
    }
}

        .footer {
            display:inline-block;
            width: 100%;
            .footer-left{
                @include grid-column(2);
                    min-height: 140px;
                    border-top:$border-footer;
                .footer-misclogo
                {
                    padding:$padding-med;
                }
            }
            .footer-main{
                @include grid-column (6);
                padding:$padding-small;
                border-left: $border-thin;
                border-right: $border-thin;
                border-top:$border-footer;
                min-height: 140px;

                    .links {
                        position: absolute;
                    ul {
                        margin: 0;
                        list-style-type:none;
                        display: inline-block;
                        width: 60%;
                        li{
                        display: inline;
                        font-size: 12px;}
                    }
                }
                .social {
                    float:right;
                }
                p {
                        font-size: 10px;
                        color:grey;
                        text-align: center;
                        padding-top: 100px;
                        margin: 0;
                    }

            }
            .footer-right{
                @include grid-column (2);
                min-height: 140px;
                border-top:$border-footer;
                .footer-iclogo{
                padding:$padding-med;
                }
            }
        }

    }